@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');

:root {
  ---black-button: #191919;
  ---white-button: #FFFFFF;
  ---black-background: #141414;
  ---white-background: #F0F0F0;
  ---black: #000000;
  ---white: #FFFFFF;
  ----pink: #A160FB;
}

.body {
  background-color: #141414;
}

.body-light {
  background-color: #F0F0F0;
}

.wrapper {
  width: 480px;
  margin: 0 auto;
}

.mode {
  display: flex;
  justify-content: flex-end;
  margin: 30px 30px;
}

.error {
  display: none;
}

.error-active {
  position: relative;
  left: 237px;
  top: -37px;
  font-size: 18px;
  color: rgb(229, 77, 77);
  font-family: 'Poppins', sans-serif;
}

.output-error {
  border: 2px solid rgb(229, 77, 77);
}

/** Dark Mode **/

.output {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  width: 480px;
  height: 117px;
  background-color: var(---black-button);
  overflow: scroll;
  margin: 10px auto;
  margin-bottom: 55px;
  border-radius: 20px;
  filter: drop-shadow(0px 8px 15px rgba(0, 0, 0, 0.6));
}

.paper {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.task {
  font-size: 18px;
  color: var(----pink);
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  padding-right: 40px;
}

.result {
  font-size: 40px;
  color: var(---white);
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  padding-right: 40px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 98px);
  grid-template-rows: repeat(5, 70px);
  gap: 30px;
}

.btn {
  color: var(---white);
  font-size: 24px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  border-radius: 16px;
  border: none;
  background-color: var(---black-button);
  box-shadow: -5px -6px 10px #1F1F1F, 3px 6px 10px rgba(0, 0, 0, 0.85);
}

.btn:hover:not(:last-of-type) {
  box-shadow: inset 3px 3px 4px #030303, inset -3px -3px 4px #171717;
  ;
}

.zero {
  grid-column: 1 / 3;
}

.equals {
  background-color: var(----pink);
  height: 170px;
  grid-column-start: 4;
  grid-row-start: 4;
  box-shadow: 0px 0px 10px rgba(161, 96, 251, 0.75);
}

.equals:hover {
  background-color: rgba(160, 93, 255, 0.75);
  box-shadow: 0px 0px 15px rgba(107, 52, 184, 0.75);
}

/** Light Mode **/

.output-light {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  width: 480px;
  height: 117px;
  background-color: var(---white-background);
  margin: 10px auto;
  margin-bottom: 55px;
  border-radius: 20px;
  filter: drop-shadow(0px 7px 10px #E6E6E6);
}

.result-light {
  font-size: 40px;
  color: var(---black);
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  padding-right: 40px;
}

.btn-light {
  color: var(---black);
  font-size: 24px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  border-radius: 16px;
  border: none;
  background-color: var(---white-background);
  box-shadow: 4px 5px 10px #E6E6E6;
}

.btn-light:hover:not(:last-of-type) {
  box-shadow: inset 3px 3px 4px rgba(234, 232, 230, 0.78), inset -3px -3px 4px rgba(255, 255, 255, 0.7);
}

/** Media */

@media (max-width: 375px) {
  .wrapper {
    max-width: 335px;
    margin: 0 auto;
  }

  .mode {
    margin: 20px 20px 55px 0px;
  }

  .darkMode {
    width: 30px;
    height: 30px;
  }

  .error-active {
    display: block;
    position: relative;
    left: 90px;
    top: -30px;
  }

  .output {
    width: 335px;
    height: 85px;
    margin-bottom: 40px;
    border-radius: 10px;
  }

  .task {
    font-size: 16px;
  }

  .result {
    font-size: 32px;
  }

  .buttons {
    grid-template-columns: repeat(4, 70px);
    grid-template-rows: repeat(5, 60px);
    padding: 6px 4px;
    column-gap: 17px;
    row-gap: 20px;
  }

  .btn {
    font-size: 20px;
    box-shadow: -5px -2px 5px rgba(31, 31, 31, 0.5), 1px 5px 5px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
  }

  .btn-light {
    box-shadow: 4px 5px 10px #E6E6E6;
  }

  .zero {
    grid-column: 1 / 3;
  }

  .equals {
    width: 70px;
    height: 139px;
    box-shadow: 0px 0px 5px #A160FB;
    border-radius: 5px;
  }
}
